.footer{
    width: 100%;
    margin-top: 70px;
    height: 300px;
    background-color: #7091A4;
    .footer__text{
        text-align: center;
        font-size: 36px;
        padding: 10px;
        margin: 0;
    }
    .footer__partner{ 
        width: 90%;
        margin-left: 5%;
    
        img{
            width: 12%;
            margin-left: 10%;
            cursor: pointer ;
        }
    }
    .footer__copurate{
        margin-top: 20px ;
        margin-left: calc(50% - 203px);
        img{
            width: 48px;
            height: 48px;
        }
        h4,p{
            position: relative;
            top: -15px;
            font-size: 24px;
            display: inline;
        }
    }
}