.header{
    width: 100%;
    height: 70px;
    background-color: rgba(145, 180, 199,0.9 );
    position: fixed;
    z-index: 15;
    .header__flexbox{
        display: flex;
        justify-content: space-between;
        .header__logo--left{
            overflow: hidden;
            height: 70px;
            margin-left: 20px ;
            .header__text{
                color: #fff;
                position: relative;
                display: inline;
                font-size: 48px;
                top: -14px;
                margin-left: 20px;
                cursor: pointer;
                @media (max-width: 1200px) {
                    font-size: 33px;
                    top:-25px;
                    margin-left: 5px;
                  }
            } 
            .header__image{
                margin-top: 4px;
            }
        } 
        .header__navigation{
            height: 70px;
            overflow: hidden;
            padding-top: 23px;
            a{
                display: inline;
                padding: 25px ;
                padding-left: 10px;
                padding-right: 10px;
                margin-right: 10px;
                font-size: 20px;
                text-decoration: none;
                color: #fff;
                @media (max-width: 1024px) {
                    font-size: 16px;
                    margin-right: 3px;
                    padding-top: 35px;
                    padding-bottom: 30px;
                  }
                &:hover{
                    background-color: #4D9ECA;
                }
            }
            @media (max-width: 800px) {
                display: none;
              }
        }
        .header__navigationSelect{
            display: none;
            @media (max-width: 800px) {
                display: block;
              }
            img{
                width: 50px;
                height: 40px;
                margin: 15px;
            }  
        }
        .header__authorization-active{
            display: block;
            margin: 20px;
            margin-top: 15px;
            @media (max-width: 800px) {
                display: none;
              } 
            .header__button{
                border-radius: 10px;
                border: none;
                font-size: 22px ;
                color:white;
                padding: 5px 15px 5px 15px;
                background-color: #4D9ECA;
                cursor: pointer;       
            }
        }
        .header__authorization-disable{
            display: none;
            margin: 20px;
            margin-top: 15px;
            @media (max-width: 800px) {
                display: none;
              }
            p{
                display: inline;
                font-size: 20px;
                color: white;
                margin-right: 10px;
                @media (max-width: 1024px) {
                    font-size: 15px;
                    margin-bottom: 10px;
                  }
            }
            button{
                border-radius: 10px;
                border: none;
                font-size: 22px ;
                padding: 5px 15px 5px 15px;
                background-color: #4D9ECA;
                color:white;
                cursor: pointer;  
            }
            
        }
    }
}
.main__navbar--hidden{
    display: none;
    @media (max-width: 800px){
      display: block;
      position: fixed;
      z-index: 15;
      float: right;
      width: 150px;
      height: 880px;
      background-color: $divBackgroundColor;
      transition: all ease 1s
    }
    a{
        font-size: 30px;
        color: #fff;
        text-decoration: none;
    }
}