$divBackgroundColor: #91B4C7;
$divHeaderColor: #48758E;
$navBarHover: #95C8E3;

$h1FontFamily:'Marko One', serif;
$textFontFamily:'Roboto', sans-serif;
$fontColorLight: #fff;
$fontColorDark: #000;

$buttonColor:#FFFFFF;
$buttonHover:#EEEEEE;
$buttonClick:#CCCCCC;

$inputBorder:#000000;
$inputHoverBorder:#00639A;
$inputClickBorder: #48758E;
$inputErrorButtonColor: #FF8F8F; 

body{
    margin: 0;
}
main{
    position: relative;
    top: 70px;
    overflow: hidden;
}
input{
    border-radius: 8px;
    border: 1px solid rgb(170, 152, 152);
    &:hover{
       border: 1px solid #00639A;
    }
}
 button{
    border-radius: 8px;
}