.modal-window__mark{
    display: none;
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: 20;
    margin-left: calc(50% - 200px);
    top:calc(50% - 235px);
    background-color: rgb(222, 237, 241);
    border: 1px solid black;
    text-align: center;
    .modal-window__textarea{
        box-sizing: border-box;
        width: 90%;
        margin-left: 3%;
        height: 150px;
    }
    .modal-window__button{
        margin-top: 20px;
        width: 70%;
        height: 50px;
    }
    .rating-area {
        overflow: hidden;
        width: 75%;
    }
    .rating-area:not(:checked) > input {
        display: none;
    }
    .rating-area:not(:checked) > label {
        float: right;
        width: 42px;
        padding: 0;
        cursor: pointer;
        font-size: 32px;
        line-height: 32px;
        color: lightgrey;
        text-shadow: 1px 1px #bbb;
    }
    .rating-area:not(:checked) > label:before {
        content: '★';
    }
    .rating-area > input:checked ~ label {
        color: gold;
        text-shadow: 1px 1px #c60;
    }
    .rating-area:not(:checked) > label:hover,
    .rating-area:not(:checked) > label:hover ~ label {
        color: gold;
    }
    .rating-area > input:checked + label:hover,
    .rating-area > input:checked + label:hover ~ label,
    .rating-area > input:checked ~ label:hover,
    .rating-area > input:checked ~ label:hover ~ label,
    .rating-area > label:hover ~ input:checked ~ label {
        color: gold;
        text-shadow: 1px 1px goldenrod;
    }
    .rate-area > label:active {
        position: relative;
    }
}