body {
  margin: 0;
  background-color: #95C8E3;
}

main {
  position: relative;
  top: 70px;
  overflow: hidden;
  min-height: calc(100vh - 70px);
}

input {
  border-radius: 10px;
  border: 2px solid #000000;
}

input:hover {
  border: 2px solid #00639A;
}

input:focus {
  border: 2px solid #48758E;
}

button {
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #000000;
}

button:hover {
  background-color: #EEEEEE;
}

button:focus {
  background-color: #CCCCCC;
}

.table {
  width: 100%;
  border-spacing: 0 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.table table {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.table table tr th {
  padding: 10px 20px;
  background: #48758E;
  color: #fff;
  font-size: 0.9em;
}

.table table tr td {
  vertical-align: middle;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  border-bottom: 2px solid #56433D;
  border-right: 2px solid #56433D;
}

.header {
  width: 100%;
  height: 70px;
  background-color: rgba(145, 180, 199, 0.9);
  position: fixed;
  z-index: 15;
}

@media (max-width: 800px) {
  .header {
    display: none;
  }
}

.header .header__flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__flexbox .header__logo--left {
  overflow: hidden;
  height: 70px;
  margin-left: 20px;
}

.header .header__flexbox .header__logo--left .header__label {
  color: #fff;
  position: relative;
  display: inline;
  font-size: 48px;
  top: -14px;
  margin-left: 20px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .header .header__flexbox .header__logo--left .header__label {
    font-size: 33px;
    top: -25px;
    margin-left: 5px;
  }
}

.header .header__flexbox .header__logo--left .header__image {
  margin-top: 4px;
}

.header .header__flexbox .header__navigation {
  height: 70px;
  overflow: hidden;
  padding-top: 23px;
}

.header .header__flexbox .header__navigation a {
  display: inline;
  padding: 25px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 1024px) {
  .header .header__flexbox .header__navigation a {
    font-size: 16px;
    margin-right: 3px;
    padding-top: 35px;
    padding-bottom: 30px;
  }
}

.header .header__flexbox .header__navigation a:hover {
  background-color: #4D9ECA;
}

.header .header__flexbox .header__authorization-active {
  display: block;
  margin: 20px;
  margin-top: 15px;
}

@media (max-width: 800px) {
  .header .header__flexbox .header__authorization-active {
    display: none;
  }
}

.header .header__flexbox .header__authorization-active .header__button {
  border-radius: 10px;
  border: none;
  font-size: 22px;
  color: white;
  padding: 5px 15px 5px 15px;
  background-color: #4D9ECA;
  cursor: pointer;
}

.header .header__flexbox .header__authorization-disable {
  display: none;
  margin: 20px;
  margin-top: 15px;
}

@media (max-width: 800px) {
  .header .header__flexbox .header__authorization-disable {
    display: none;
  }
}

.header .header__flexbox .header__authorization-disable p {
  display: inline;
  font-size: 20px;
  color: white;
  margin-right: 10px;
}

@media (max-width: 1024px) {
  .header .header__flexbox .header__authorization-disable p {
    font-size: 15px;
    margin-bottom: 10px;
  }
}

.header .header__flexbox .header__authorization-disable button {
  border-radius: 10px;
  border: none;
  font-size: 22px;
  padding: 5px 15px 5px 15px;
  background-color: #4D9ECA;
  color: white;
  cursor: pointer;
}

.header-small {
  display: none;
  width: 100%;
  height: 70px;
  background-color: rgba(145, 180, 199, 0.9);
  position: fixed;
  z-index: 15;
}

@media (max-width: 800px) {
  .header-small {
    display: block;
  }
}

.header-small .header__flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-small .header__flexbox .header__logo--left {
  overflow: hidden;
  height: 70px;
  margin-left: 20px;
}

.header-small .header__flexbox .header__logo--left .header__label {
  color: #fff;
  position: relative;
  display: inline;
  font-size: 48px;
  top: -14px;
  margin-left: 20px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .header-small .header__flexbox .header__logo--left .header__label {
    font-size: 33px;
    top: -25px;
    margin-left: 5px;
  }
}

.header-small .header__flexbox .header__logo--left .header__image {
  margin-top: 4px;
}

.header-small .header__flexbox .header__navigation {
  height: 70px;
  overflow: hidden;
  padding-top: 23px;
}

.header-small .header__flexbox .header__navigation a {
  display: inline;
  padding: 25px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 1024px) {
  .header-small .header__flexbox .header__navigation a {
    font-size: 16px;
    margin-right: 3px;
    padding-top: 35px;
    padding-bottom: 30px;
  }
}

.header-small .header__flexbox .header__navigation a:hover {
  background-color: #4D9ECA;
}

@media (max-width: 800px) {
  .header-small .header__flexbox .header__navigation {
    display: none;
  }
}

.header-small .header__flexbox .header__navigationSelect {
  display: none;
}

@media (max-width: 800px) {
  .header-small .header__flexbox .header__navigationSelect {
    display: block;
  }
}

.header-small .header__flexbox .header__navigationSelect img {
  width: 50px;
  height: 40px;
  margin: 15px;
}

.header-small .header__flexbox .header__authorization-active {
  display: block;
  margin: 20px;
  margin-top: 15px;
}

@media (max-width: 800px) {
  .header-small .header__flexbox .header__authorization-active {
    display: none;
  }
}

.header-small .header__flexbox .header__authorization-active .header__button {
  border-radius: 10px;
  border: none;
  font-size: 22px;
  color: white;
  padding: 5px 15px 5px 15px;
  background-color: #4D9ECA;
  cursor: pointer;
}

.header-small .header__flexbox .header__authorization-disable {
  display: none;
  margin: 20px;
  margin-top: 15px;
}

@media (max-width: 800px) {
  .header-small .header__flexbox .header__authorization-disable {
    display: none;
  }
}

.header-small .header__flexbox .header__authorization-disable p {
  display: inline;
  font-size: 20px;
  color: white;
  margin-right: 10px;
}

@media (max-width: 1024px) {
  .header-small .header__flexbox .header__authorization-disable p {
    font-size: 15px;
    margin-bottom: 10px;
  }
}

.header-small .header__flexbox .header__authorization-disable button {
  border-radius: 10px;
  border: none;
  font-size: 22px;
  padding: 5px 15px 5px 15px;
  background-color: #4D9ECA;
  color: white;
  cursor: pointer;
}

.main__navbar--hidden {
  display: none;
}

@media (max-width: 800px) {
  .main__navbar--hidden {
    display: block;
    position: fixed;
    z-index: 30;
    float: right;
    width: 150px;
    height: 100vh;
    background-color: #91B4C7;
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
  }
}

.main__navbar--hidden a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}
/*# sourceMappingURL=header.css.map */