body {
  margin: 0;
}

main {
  position: relative;
  top: 70px;
  overflow: hidden;
}

input {
  border-radius: 8px;
  border: 1px solid #aa9898;
}

input:hover {
  border: 1px solid #00639A;
}

button {
  border-radius: 8px;
}

.main__order {
  position: relative;
  width: 100%;
  height: 880px;
  overflow: hidden;
}

.main__order .main__map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.main__order .main__form {
  position: relative;
  z-index: 10;
  float: right;
  background-color: rgba(145, 180, 199, 0.7);
  width: 470px;
  height: 400px;
  margin: 80px 30px 0 0;
  border-radius: 9px;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

@media (max-width: 800px) {
  .main__order .main__form {
    float: left;
    top: 390px;
    width: 100%;
  }
}

.main__order .main__form .main__button--disable {
  display: none;
  width: 50px;
}

@media (max-width: 800px) {
  .main__order .main__form .main__button--disable {
    display: block;
    position: absolute;
    margin-left: calc( 50% - 25px);
    top: -30px;
  }
}

.main__order .main__form .main__checkbox {
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__order .main__form .main__checkbox div {
  width: 130px;
  height: 130px;
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}

.main__order .main__form .main__checkbox div:hover {
  background-color: #eee;
}

.main__order .main__form .main__checkbox div:active {
  background-color: #ccc;
}

.main__order .main__form .main__checkbox .main__comfort {
  background-image: url("../image/icon/car2.png");
  background-repeat: no-repeat;
  background-position-x: 12px;
  background-position-y: -15px;
}

.main__order .main__form .main__checkbox .main__comfort p {
  font-size: 20px;
}

.main__order .main__form .main__checkbox .main__comfort p:first-child {
  margin-top: 60px;
}

.main__order .main__form .main__checkbox .main__econom {
  background-image: url("../image/icon/car1.png");
  background-repeat: no-repeat;
  background-position-x: 12px;
  background-position-y: -15px;
}

.main__order .main__form .main__checkbox .main__econom p {
  font-size: 20px;
}

.main__order .main__form .main__checkbox .main__econom p:first-child {
  margin-top: 60px;
}

.main__order .main__form .main__checkbox .main__lux {
  background-image: url("../image/icon/car3.png");
  background-repeat: no-repeat;
  background-position-x: 12px;
  background-position-y: -15px;
}

.main__order .main__form .main__checkbox .main__lux p {
  font-size: 20px;
}

.main__order .main__form .main__checkbox .main__lux p:first-child {
  margin-top: 60px;
}

.main__order .main__form .main__input, .main__order .main__form .main__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  height: 54px;
}

.main__order .main__form .main__input:first-child, .main__order .main__form .main__button:first-child {
  margin-top: 30px;
}

.main__order .main__anchor {
  border-radius: 9px;
  position: relative;
  top: 30px;
  left: calc(50% - 87px);
  font-size: 20px;
  padding: 10px;
  background-color: rgba(145, 180, 199, 0.7);
}

.traffic {
  width: 100%;
  height: 800px;
  background-image: url("../image/traffic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 800px) {
  .traffic {
    height: 1000px;
    background-image: none;
    background-color: #95C8E3;
  }
}

.traffic .traffic-header {
  width: 100%;
  display: block;
  text-align: center;
  background-color: #91B4C7;
}

.traffic .traffic-header h2 {
  color: #fff;
  padding: 10px;
  margin: 0;
  font-size: 48px;
}

.traffic .traffic-content {
  width: 100%;
  height: 100%;
}

.traffic .traffic-content .traffic-content-city {
  float: left;
  margin: 30px;
  margin-top: 200px;
  width: 40%;
  height: 400px;
  background-color: rgba(145, 180, 199, 0.7);
  text-align: center;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .traffic .traffic-content .traffic-content-city {
    width: 100%;
    margin: 30px 0 30px 0;
  }
}

.traffic .traffic-content .traffic-content-city h3 {
  font-size: 36px;
  padding: 10px;
  margin: 0px;
  color: #fff;
}

.traffic .traffic-content .traffic-content-cityfrom {
  margin-right: 30px;
  margin-top: 50px;
  float: right;
  width: 40%;
  height: 400px;
  background-color: rgba(145, 180, 199, 0.7);
  text-align: center;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .traffic .traffic-content .traffic-content-cityfrom {
    margin: 0;
    float: left;
    width: 100%;
  }
}

.traffic .traffic-content .traffic-content-cityfrom h3 {
  font-size: 36px;
  padding: 10px;
  margin: 0px;
  color: #fff;
}

.traffic .traffic-content table {
  margin-left: 5%;
  width: 90%;
  height: 300px;
  background-color: #FFFFFF;
  font-size: 30px;
  border-collapse: collapse;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .traffic .traffic-content table {
    font-size: 20px;
  }
}

.traffic .traffic-content table tr {
  border-bottom: 1pt solid #9EBBCB;
}

.work {
  width: 100%;
  height: 800px;
  background-image: url("../image/work.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 800px) {
  .work {
    height: 940px;
    background-color: #95C8E3;
    background-image: none;
  }
}

.work .work-header {
  width: 100%;
  display: block;
  text-align: center;
  background-color: #91B4C7;
}

.work .work-header h2 {
  color: #fff;
  padding: 10px;
  margin: 0;
  font-size: 48px;
}

.work .work-content {
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

.work .work-content .work-content-adventuries {
  float: left;
  margin-left: 20px;
  width: 50%;
  height: 500px;
  text-align: center;
}

@media (max-width: 800px) {
  .work .work-content .work-content-adventuries {
    width: 100%;
    margin-left: 10px;
    height: 300px;
  }
}

.work .work-content .work-content-adventuries div {
  float: left;
}

.work .work-content .work-content-adventuries h2 {
  color: white;
  margin: 25px;
  font-size: 40px;
  border-bottom: 5px solid #fff;
}

@media (max-width: 1200px) {
  .work .work-content .work-content-adventuries h2 {
    font-size: 28px;
  }
}

@media (max-width: 800px) {
  .work .work-content .work-content-adventuries h2 {
    display: none;
  }
}

.work .work-content .work-content-adventuries h3 {
  color: white;
  position: relative;
  top: -46px;
  font-size: 40px;
  display: inline;
}

@media (max-width: 1200px) {
  .work .work-content .work-content-adventuries h3 {
    font-size: 28px;
  }
}

@media (max-width: 800px) {
  .work .work-content .work-content-adventuries h3 {
    margin: 10px;
    color: #000;
  }
}

.work .work-content .work-content-form {
  float: right;
  width: 40%;
  height: 500px;
  margin-right: 20px;
  text-align: center;
}

@media (max-width: 800px) {
  .work .work-content .work-content-form {
    width: 100%;
    height: 300px;
    margin-right: 0;
    margin-top: 130px;
  }
}

.work .work-content .work-content-form h2 {
  font-size: 40px;
  color: #fff;
}

@media (max-width: 1200px) {
  .work .work-content .work-content-form h2 {
    font-size: 27px;
  }
}

@media (max-width: 800px) {
  .work .work-content .work-content-form h2 {
    display: none;
  }
}

.work .work-content .work-content-form form {
  border-radius: 15px;
  height: 400px;
  background-color: rgba(145, 180, 199, 0.9);
}

.work .work-content .work-content-form form button {
  width: 50%;
  height: 80px;
  margin-top: 20px;
  border-radius: 10px;
}

.work .work-content .work-content-form form input {
  width: 90%;
  margin-left: 1%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  margin-top: 20px;
  height: 70px;
}

.review {
  width: 100%;
  height: 650px;
  background-image: url("../image/review.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 800px) {
  .review {
    background-image: none;
    background-color: #95C8E3;
  }
}

.review .review-header {
  width: 100%;
  display: block;
  text-align: center;
  background-color: #91B4C7;
}

.review .review-header h2 {
  color: #fff;
  padding: 10px;
  margin: 0;
  font-size: 48px;
}

.review .review-content {
  width: 100%;
  height: 100%;
}

.review .review-content .slider-prev {
  position: relative;
  float: left;
  top: -250px;
}

.review .review-content .slider-next {
  position: relative;
  float: right;
  top: -250px;
}

.review .review-content .slider {
  margin-top: 40px;
  margin-left: 150px;
  width: calc(100% - 300px);
  overflow: hidden;
}

@media (max-width: 800px) {
  .review .review-content .slider {
    margin-left: 80px;
    width: calc(100% - 160px);
  }
}

.review .review-content .slider .slider-line {
  width: 200%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

@media (max-width: 1200px) {
  .review .review-content .slider .slider-line {
    width: 300%;
  }
}

@media (max-width: 800px) {
  .review .review-content .slider .slider-line {
    width: 600%;
  }
}

.review .review-content .slider .slider-line .slider-line-item {
  border-radius: 10px;
  margin: 20px;
  width: 30%;
  background-color: rgba(72, 117, 142, 0.7);
}

@media (max-width: 800px) {
  .review .review-content .slider .slider-line .slider-line-item {
    width: 100%;
  }
}

.review .review-content .slider .slider-line .slider-line-item .user {
  margin: 10px;
}

.review .review-content .slider .slider-line .slider-line-item .user img {
  width: 40%;
}

.review .review-content .slider .slider-line .slider-line-item .user h2 {
  position: relative;
  font-size: 30px;
  top: -70px;
  margin-left: 5%;
  display: inline;
}

@media (max-width: 1200px) {
  .review .review-content .slider .slider-line .slider-line-item .user h2 {
    font-size: 25px;
    top: -60px;
  }
}

.review .review-content .slider .slider-line .slider-line-item .user .stars {
  position: relative;
  top: -50px;
  margin-left: 46%;
  display: inline-block;
  width: 50%;
}

.review .review-content .slider .slider-line .slider-line-item .user .stars img {
  width: 16%;
}

.review .review-content .slider .slider-line .slider-line-item p {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  background-color: rgba(201, 217, 225, 0.7);
}

@media (max-width: 1200px) {
  .review .review-content .slider .slider-line .slider-line-item p {
    font-size: 25px;
  }
}

.contacts {
  width: 100%;
  height: 520px;
  background-image: url("../image/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 800px) {
  .contacts {
    background-image: none;
    background-color: #95C8E3;
    height: 500px;
  }
}

.contacts .contacts-header {
  width: 100%;
  display: block;
  text-align: center;
  background-color: #91B4C7;
}

.contacts .contacts-header h2 {
  color: #fff;
  padding: 10px;
  margin: 0;
  font-size: 48px;
}

.contacts .contacts-content {
  width: 90%;
  height: calc(100% - 190px);
  margin-top: 40px;
  margin-left: calc(5% - 20px);
  padding: 20px;
  background-color: rgba(173, 195, 207, 0.7);
  border-radius: 10px;
}

@media (max-width: 800px) {
  .contacts .contacts-content {
    background-color: #95C8E3;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
  }
}

.contacts .contacts-content .contacts-content-text-right {
  float: right;
  width: 50%;
}

@media (max-width: 800px) {
  .contacts .contacts-content .contacts-content-text-right {
    width: 100%;
  }
}

.contacts .contacts-content .contacts-content-text-right p {
  float: right;
  margin-top: 5%;
  font-size: 35px;
  color: #fff;
}

@media (max-width: 800px) {
  .contacts .contacts-content .contacts-content-text-right p {
    width: 100%;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
    color: #000;
  }
}

.contacts .contacts-content .contacts-content-text-right .social {
  display: inline-block;
  float: right;
  text-align: center;
}

@media (max-width: 800px) {
  .contacts .contacts-content .contacts-content-text-right .social {
    width: 100%;
    background-color: #91B4C7;
  }
}

.contacts .contacts-content .contacts-content-text-right .social img {
  width: 20%;
}

@media (max-width: 800px) {
  .contacts .contacts-content .contacts-content-text-right .social img {
    width: 10%;
  }
}

.contacts .contacts-content .contacts-content-text-left {
  float: left;
  width: 50%;
}

@media (max-width: 800px) {
  .contacts .contacts-content .contacts-content-text-left {
    width: 100%;
  }
}

.contacts .contacts-content .contacts-content-text-left p {
  margin-top: 5%;
  font-size: 35px;
  color: #fff;
}

@media (max-width: 800px) {
  .contacts .contacts-content .contacts-content-text-left p {
    margin-top: 40px;
    font-size: 24px;
    margin-left: 10px;
    color: #000;
  }
}
/*# sourceMappingURL=mainPage.css.map */