.main__load{
    width: 100%;
    height: 90vh;
    background-color: #48758E;
    .main__container{
        text-align: center;
        padding-top: 30vh;
        .main_text{
            font-size: 60px;
            color: #fff;
            margin-left: 15px;
            position: relative;
            display: inline;
            top: -25px;
            @media (max-width: 800px) {
                font-size: 35px;
            }
        }
        .main__image {
            width: 100px;
            height: 100px;
           -webkit-animation-name: spin;
           -webkit-animation-duration: 10000ms;
           -webkit-animation-iteration-count: infinite;
           -webkit-animation-timing-function: linear;
           -moz-animation-name: spin;
           -moz-animation-duration: 10000ms;
           -moz-animation-iteration-count: infinite;
           -moz-animation-timing-function: linear;
           -ms-animation-name: spin;
           -ms-animation-duration: 10000ms;
           -ms-animation-iteration-count: infinite;
           -ms-animation-timing-function: linear;
        
           animation-name: spin;
           animation-duration: 10000ms;
           animation-iteration-count: infinite;
           animation-timing-function: linear;
       }
       @-ms-keyframes spin {
           from { -ms-transform: rotate(0deg); }
           to { -ms-transform: rotate(360deg); }
       }
       @-moz-keyframes spin {
           from { -moz-transform: rotate(0deg); }
           to { -moz-transform: rotate(360deg); }
       }
       @-webkit-keyframes spin {
           from { -webkit-transform: rotate(0deg); }
           to { -webkit-transform: rotate(360deg); }
       }
       @keyframes spin {
           from {
               transform:rotate(0deg);
           }
           to {
               transform:rotate(360deg);
           }
       }
    }
}